<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Taco Cloud</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="row">
            <h1>Order your taco creations!</h1>
        </div>

        <div class="row">
            <img src="" alt="" srcset="">
        </div>

        <div class="row">

            <div class="container col">
                <div class="row">
                    <h3>Your tacos in this order:</h3>
                </div>

                <div class="row">
                    <ul>
                        <li th:each="taco : ${tacoOrder.tacos}">
                            <span th:text="${taco.name}"> TACO NAME</span>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <h3>Deliver my taco masterpieces to ...</h3>
                </div>


                <div class="row">
                    <form method="post" th:action="@{/orders}" class="w-100" th:object="${tacoOrder}">
                        <div class="form-group form-inline">
                            <label class="col-3" for="">Name:</label>
                            <input th:field="*{deliveryName}" type="text" name="" id="" class="form-control"
                                placeholder="" aria-describedby="helpId">
                        </div>


                        <div class="form-group form-inline">
                            <label class="col-3" for="">Street Address:</label>
                            <input th:field="*{deliveryStreet}" type="text" name="" id="" class="form-control"
                                placeholder="" aria-describedby="helpId">
                        </div>

                        <div class="form-group form-inline">
                            <label class="col-3" for="">City:</label>
                            <input th:field="*{deliveryCity}" type="text" name="" id="" class="form-control"
                                placeholder="" aria-describedby="helpId">
                        </div>

                        <div class="form-group form-inline">
                            <label class="col-3" for="">State:</label>
                            <input th:field="*{deliveryState}" type="text" name="" id="" class="form-control"
                                placeholder="" aria-describedby="helpId">
                        </div>

                        <div class="form-group form-inline">
                            <label class="col-3" for="">Zip Code:</label>
                            <input th:field="*{deliveryZip}" type="text" name="" id="" class="form-control"
                                placeholder="" aria-describedby="helpId">
                        </div>

                        <h3>Here's how I'll pay ...</h3>


                        <div class="form-group form-inline">
                            <label class="col-3" for="">Credit Card#:</label>
                            <input th:field="*{ccNumber}" type="text" name="" id="" class="form-control" placeholder=""
                                aria-describedby="helpId">
                        </div>


                        <div class="form-group form-inline">
                            <label class="col-3" for="">Expiration:</label>
                            <input th:field="*{ccExpiration}" type="text" name="" id="" class="form-control"
                                placeholder="" aria-describedby="helpId">
                        </div>


                        <div class="form-group form-inline">
                            <label class="col-3" for="">CVV:</label>
                            <input th:field="*{ccCVV}" type="text" name="" id="" class="form-control" placeholder=""
                                aria-describedby="helpId">
                        </div>

                        <div class="form-group row">
                            <div class="offset-sm-2 col-sm-10">
                                <button type="submit" class="btn btn-primary">Submit Order</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>




            <div class="col">
                <a name="" id="" class="btn btn-primary" th:href="@{/design}" role="button">Design another taco</a>
            </div>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>